@import '../../scss/extend.scss';

$css4: false;
@import '../../scss/var.scss';

$C_PREFIX: #{$--prefix}-select;

.#{$C_PREFIX} {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-size: $--h4;

  .#{$C_PREFIX}-select {
    background-color: #fff;
    box-sizing: border-box;
    border-radius: $--border-radius;
    border: 1px solid #ddd;
    color: $--color-grey-dark;
    font-size: 14px;
    line-height: 28px;
    padding: 6px;
    height: 42px;
    width: 100%;
  }

  &-size {
    &-s {
      .#{$C_PREFIX}-select {
        height: 32px;
        padding-top: 0;
        padding-bottom: 0;
      }
    }

    &-l {
      .#{$C_PREFIX}-select {
        height: 52px;
      }
    }
  }

  & > .#{$C_PREFIX}-error-tip {
    font-size: $--h5;
    color: $--color-danger;
    left: 0;
    bottom: -20px;
    position: absolute;
  }
}
