@import '../../scss/config.scss';

.comp-password-comp {
    &-input {
        &-ul {
            border: #979797 1px solid;
            border-right: none;
            width: 300px;
            margin: 0 auto;
        }

        &-li {
            border-right: #979797 1px solid;
            width: 50px;
            height: 50px;
            box-sizing: border-box;
            text-align: center;

            &::after {
                content: '\200b';
                height: 100%;
                vertical-align: middle;
                display: inline-block;
            }
        }

        &-text {
            font-size: 45px;
        }

        &-ele {
            border: none;
            width: 74%;
            vertical-align: middle;

            input {
                text-align: center;
            }
        }
    }
}
