@import '../../scss/config.scss';

$prefix: 'c-image-c';

.#{$prefix} {
  display: inline-block;

  &-img {
    width: 100%;
    vertical-align: middle;
  }

  &-zoom {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;

    &-layover {
      position: absolute;
      width: 100vw;
      height: 100vh;
      background-color: rgba(#000, 0.8);
      top: 0;
      left: 0;
    }

    &-img {
      position: relative;
      z-index: 1;
    }
  }
}
