@import '../../scss/extend.scss';

$css4: false;
@import '../../scss/var.scss';

$C_PREFIX: #{$--prefix}-area-picker;
$SELECT_PREFIX: #{$--prefix}-select;

.#{$C_PREFIX} {
  position: relative;
  display: inline-block;
  font-size: $--h4;
  width: 100%;
  max-width: 568px;

  &-province {
    border: 1px solid $--color-border;
    border-radius: 3px;
    color: $--color-grey;
    padding: 8px 10px;
  }

  .#{$SELECT_PREFIX} {
    width: 100%;
  }

  & > .#{$C_PREFIX}-error-hint {
    position: absolute;
    bottom: -20px;
    left: 0;
    font-size: $--h5;
    color: $--color-danger;
  }
}
