@import '../../scss/config.scss';

$C_PREFIX: #{$comp-prefix}-auto-scroll;

.#{$C_PREFIX} {
    position: relative;
    width: 100%;
    max-width: 400px;
    overflow: hidden;
    border: $grey $border-thin solid;

    .#{$C_PREFIX}-list {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
}
