// 文本相关的工具类

@import '../var.config.scss';

$C_PREFIX: #{$--prefix}-css;

// 字体
.#{$C_PREFIX}-h1 {
  font-weight: 700;
  font-size: $--h1;
}

.#{$C_PREFIX}-h2 {
  font-weight: 700;
  font-size: $--h2;
}

.#{$C_PREFIX}-h3 {
  font-weight: 700;
  font-size: $--h3;
}

.#{$C_PREFIX}-h4 {
  font-weight: 700;
  font-size: $--h4;
}

.#{$C_PREFIX}-h5 {
  font-weight: 700;
  font-size: $--h5;
}

.#{$C_PREFIX}-h6 {
  font-weight: 700;
  font-size: $--h6;
}

.#{$C_PREFIX}-f12 {
  font-size: 12px;
}

.#{$C_PREFIX}-f13 {
  font-size: 13px;
}

.#{$C_PREFIX}-f14 {
  font-size: 14px;
}

.#{$C_PREFIX}-f15 {
  font-size: 15px;
}

.#{$C_PREFIX}-f16 {
  font-size: 16px;
}

.#{$C_PREFIX}-f17 {
  font-size: 17px;
}

.#{$C_PREFIX}-f18 {
  font-size: 18px;
}

.#{$C_PREFIX}-f19 {
  font-size: 19px;
}

.#{$C_PREFIX}-f20 {
  font-size: 20px;
}

.#{$C_PREFIX}-f21 {
  font-size: 21px;
}

.#{$C_PREFIX}-f22 {
  font-size: 22px;
}

.#{$C_PREFIX}-f23 {
  font-size: 23px;
}

.#{$C_PREFIX}-f24 {
  font-size: 24px;
}
