@import '../../scss/extend.scss';

$css-vars-use-native: false;
@import '../../scss/var.config.scss';

$C_PREFIX: #{$--prefix}-list;
$LOADING_PREFIX: #{$--prefix}-loading;

.#{$C_PREFIX} {
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  &-box,
  &-content {
    position: relative;
  }

  &-operation {
    padding-bottom: $--gap-v-double;
    padding-top: $--gap-v;

    &-loading {
      text-align: right;
      padding: $--gap-v 0;

      .rc-list-loading.rc-loading {
        display: inline-block;
        margin-top: 0;
        margin-right: 6px;
      }
    }
  }

  &-loading.#{$LOADING_PREFIX} {
    margin-right: 6px;
    color: #ccc;
  }

  &-page {
    width: 100%;

    &-load-more {
      text-align: center;
      padding: $--gap-v 0;
    }
  }

  &-box-nomoredata {
    padding: 10px 0 20px;
    text-align: center;
    position: relative;

    // &:after,
    // &:before {
    //     content: ' ';
    //     width: 40px;
    //     height: 1px;
    //     background-color: #999;
    //     position: absolute;
    //     left: 20px;
    //     top: 0;
    //     bottom: 0;
    //     margin: auto;
    // }

    // &:after {
    //     left: auto;
    //     right: 20px;
    // }
  }
}
