// 全局的文章相关的类

@import './config.scss';

$C_PREFIX: #{$comp-prefix}-css;

.#{$C_PREFIX}-color-danger {
  color: $danger-color;
}
.#{$C_PREFIX}-color-warning {
  color: $warning-color;
}
.#{$C_PREFIX}-color-success {
  color: $success-color;
}
.#{$C_PREFIX}-color-default {
  color: $default-color;
}
.#{$C_PREFIX}-color-orange {
  color: $orange-color;
}
.#{$C_PREFIX}-color-gold {
  color: $gold-color;
}
.#{$C_PREFIX}-color-black {
  color: #000;
}
.#{$C_PREFIX}-color-white {
  color: #fff;
}

.#{$C_PREFIX}-bg-danger {
  background-color: $danger-color;
}
.#{$C_PREFIX}-bg-warning {
  background-color: $warning-color;
}
.#{$C_PREFIX}-bg-success {
  background-color: $success-color;
}
.#{$C_PREFIX}-bg-defaule {
  background-color: $default-color;
}
.#{$C_PREFIX}-bg-orange {
  background-color: $orange-color;
}
.#{$C_PREFIX}-bg-gold {
  background-color: $gold-color;
}

.#{$C_PREFIX}-color-text-primary {
  color: #333;
}
.#{$C_PREFIX}-color-text-secondary {
  color: #666;
}
.#{$C_PREFIX}-color-text-append {
  color: #999;
}

// font size
.#{$C_PREFIX}-h1 {
  font-size: $h1;
}
.#{$C_PREFIX}-h2 {
  font-size: $h2;
}
.#{$C_PREFIX}-h3 {
  font-size: $h3;
}
.#{$C_PREFIX}-h4 {
  font-size: $h4;
}
.#{$C_PREFIX}-h5 {
  font-size: $h5;
}

.#{$C_PREFIX}-font12 {
  font-size: $font12;
}
.#{$C_PREFIX}-font13 {
  font-size: $font13;
}
.#{$C_PREFIX}-font14 {
  font-size: $font14;
}
.#{$C_PREFIX}-font15 {
  font-size: $font15;
}
.#{$C_PREFIX}-font16 {
  font-size: $font16;
}
.#{$C_PREFIX}-font17 {
  font-size: $font16;
}
.#{$C_PREFIX}-font18 {
  font-size: $font16;
}
