@import './var.config.scss';
@import './mixin/animation';

//---------------- layout ----------------
$DEVICE-XS-RANGE: '0px ~ 575px';
$DEVICE-S-RANGE: '576px ~ 767px';
$DEVICE-M-RANGE: '768px ~ 991px';
$DEVICE-L-RANGE: '992px ~ 1199px';
$DEVICE-XL-RANGE: '1200px ~ --px';

@mixin device-type($type) {
  @if $type==xs {
    @media only screen and (max-width: 575px) {
      @content;
    }
  }

  @if $type==s {
    @media only screen and (max-width: 767px) {
      @content;
    }
  }

  @if $type==m {
    @media only screen and (max-width: 991px) {
      @content;
    }
  }

  @if $type==l {
    @media only screen and (max-width: 1911px) {
      @content;
    }
  }

  @if $type==xl {
    @media only screen and (min-width: 1200px) {
      @content;
    }
  }
}

@mixin set-color($type) {
  @if $type== 'primary' {
    $--g-type-color: $--color-primary !global;
    $--g-type-color-dark: $--color-primary-dark !global;
    $--g-type-color-light: $--color-primary-light !global;
    $--g-type-color-darker: $--color-primary-darker !global;
    $--g-type-color-lighter: $--color-primary-lighter !global;
  } @else if $type== 'danger' {
    $--g-type-color: $--color-danger !global;
    $--g-type-color-dark: $--color-danger-dark !global;
    $--g-type-color-light: $--color-danger-light !global;
    $--g-type-color-darker: $--color-danger-darker !global;
    $--g-type-color-lighter: $--color-danger-lighter !global;
  } @else if $type== 'success' {
    $--g-type-color: $--color-success !global;
    $--g-type-color-dark: $--color-success-dark !global;
    $--g-type-color-light: $--color-success-light !global;
    $--g-type-color-darker: $--color-success-darker !global;
    $--g-type-color-lighter: $--color-success-lighter !global;
  } @else if $type== 'warning' {
    $--g-type-color: $--color-warning !global;
    $--g-type-color-dark: $--color-warning-dark !global;
    $--g-type-color-light: $--color-warning-light !global;
    $--g-type-color-darker: $--color-warning-darker !global;
    $--g-type-color-lighter: $--color-warning-lighter !global;
  } @else if $type== 'blue' {
    $--g-type-color: $--color-blue !global;
    $--g-type-color-dark: $--color-blue-dark !global;
    $--g-type-color-light: $--color-blue-light !global;
    $--g-type-color-darker: $--color-blue-darker !global;
    $--g-type-color-lighter: $--color-blue-lighter !global;
  } @else if $type== 'light' {
    $--g-type-color: $--color-light !global;
    $--g-type-color-dark: $--color-light-dark !global;
    $--g-type-color-light: $--color-light-light !global;
    $--g-type-color-darker: $--color-light-darker !global;
    $--g-type-color-lighter: $--color-light-lighter !global;
  } @else if $type== 'dark' {
    $--g-type-color: $--color-dark !global;
    $--g-type-color-dark: $--color-dark-dark !global;
    $--g-type-color-light: $--color-dark-light !global;
    $--g-type-color-darker: $--color-dark-darker !global;
    $--g-type-color-lighter: $--color-dark-lighter !global;
  } @else if $type== 'white' {
    $--g-type-color: $--color-white !global;
    $--g-type-color-dark: $--color-white-dark !global;
    $--g-type-color-light: $--color-white-light !global;
    $--g-type-color-darker: $--color-white-darker !global;
    $--g-type-color-lighter: $--color-white-lighter !global;
  } @else if $type== 'black' {
    $--g-type-color: $--color-black !global;
    $--g-type-color-dark: $--color-black-dark !global;
    $--g-type-color-light: $--color-black-light !global;
    $--g-type-color-darker: $--color-black-darker !global;
    $--g-type-color-lighter: $--color-black-lighter !global;
  } @else if $type== 'orange' {
    $--g-type-color: $--color-orange !global;
    $--g-type-color-dark: $--color-orange-dark !global;
    $--g-type-color-light: $--color-orange-light !global;
    $--g-type-color-darker: $--color-orange-darker !global;
    $--g-type-color-lighter: $--color-orange-lighter !global;
  } @else if $type== 'grey' {
    $--g-type-color: $--color-grey !global;
    $--g-type-color-dark: $--color-grey-dark !global;
    $--g-type-color-light: $--color-grey-light !global;
    $--g-type-color-darker: $--color-grey-darker !global;
    $--g-type-color-lighter: $--color-grey-lighter !global;
  } @else {
    $--g-type-color: $--color-grey !global;
    $--g-type-color-dark: $--color-grey-dark !global;
    $--g-type-color-light: $--color-grey-light !global;
    $--g-type-color-darker: $--color-grey-darker !global;
    $--g-type-color-lighter: $--color-grey-lighter !global;
  }
}

@mixin theme-style($type) {
  @include set-color($type);

  @include theme-content(
    $type,
    $--g-type-color,
    $--g-type-color-dark,
    $--g-type-color-light,
    $--g-type-color-darker,
    $--g-type-color-lighter
  );
}
