@import '../../scss/mixin.scss';
@import '../../scss/extend.scss';

$css-vars-use-native: false;
@import '../../scss/var.scss';

@import './Btn.type.scss';

$C_PREFIX: #{$--prefix}-btn;

.#{$C_PREFIX} {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;

  &-cushion {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px;
  }

  &-block {
    display: block;
  }

  &-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 1;
  }

  .#{$C_PREFIX}-ele {
    position: relative;
    min-width: 64px;
    box-sizing: border-box;
    border-radius: $--border-radius;
    color: #fff;
    text-align: center;
    font-size: $--font-base;
    overflow: hidden;
    line-height: 1;
    white-space: nowrap;
    transform: rotate(0);
    transition-duration: 200ms;
    transition-property: background-color, box-shadow, color;

    &:focus {
      outline-style: none;
    }

    & > .#{$C_PREFIX}-ele-border {
      border: rgba(0, 0, 0, 0) $--border-thin solid;
      border-radius: $--border-radius;
      height: 34px;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;

      & > a,
      & > a:hover {
        color: inherit;
        outline: none;
        text-decoration: none;
      }

      & > a {
        display: block;
        width: 100%;
      }
    }

    .#{$C_PREFIX}-loading {
      position: absolute;
      left: $--gap-v;
      z-index: 2;
    }
  }

  @include device-type('<s') {
    &.#{$C_PREFIX}-size-xl {
      width: 100%;
    }

    cursor: default;
  }

  &.#{$C_PREFIX}-size {
    &-m > .#{$C_PREFIX}-ele {
      min-width: 88px;
      font-size: $--h4;
    }

    &-l > .#{$C_PREFIX}-ele {
      min-width: 108px;
      font-size: $--h3;

      & > .#{$C_PREFIX}-ele-border {
        height: 40px;
      }
    }

    &-xl > .#{$C_PREFIX}-ele {
      min-width: 128px;
      font-size: $--h2;

      & > .#{$C_PREFIX}-ele-border {
        height: 50px;
      }
    }

    &.#{$C_PREFIX}-type-float {
      &-m > .#{$C_PREFIX}-ele {
        width: 56px;
        height: 56px;
      }
      &-l > .#{$C_PREFIX}-ele {
        width: 72px;
        height: 72px;
      }
    }
  }
  &.#{$C_PREFIX}-radius {
    &-none > .#{$C_PREFIX}-ele {
      border-radius: 0;

      & > .#{$C_PREFIX}-ele-border {
        border-radius: 0;
      }
    }

    &-m > .#{$C_PREFIX}-ele {
      border-radius: 10px;

      & > .#{$C_PREFIX}-ele-border {
        border-radius: 10px;
      }
    }

    &-l > .#{$C_PREFIX}-ele {
      border-radius: 30px;

      & > .#{$C_PREFIX}-ele-border {
        border-radius: 30px;
      }
    }
  }

  &.#{$C_PREFIX}-ban {
    .#{$C_PREFIX}-ele {
      color: rgba(0, 0, 0, 0.4);
      background-color: rgba(0, 0, 0, 0.12) !important;
    }

    .#{$C_PREFIX}-read-only-shadow {
      @extend %position-center;

      background-color: rgba(255, 255, 255, 0.5);
      border-radius: $--border-radius;
      cursor: not-allowed;
      z-index: 1;
    }
  }

  .#{$C_PREFIX}-value-show {
    display: inline-block;
  }
}
