// btn.type 样式
$C_PREFIX: #{ $comp-prefix }-btn;
$kind-hub: ('primary', 'danger', 'success', 'warning', 'default', 'grey', 'dark');

@mixin btn-button($color) {
    background-color: $color;
}

@mixin btn-flat($color, $lighter-color) {
    color: $color;
    border-color: $color;
}

@mixin btn-outline($color, $border-color) {
    border-color: $border-color;
    color: $color;
}

.#{$C_PREFIX} {

    &.#{$C_PREFIX}-type-button,
    &.#{$C_PREFIX}-type-float {
        & > .#{$C_PREFIX}-ele {
            background-color: #fff;
            border-radius: $border-radius;
        }

        &.#{$C_PREFIX}-kind {
            &-primary > .#{$C_PREFIX}-ele {
                @include btn-button($primary-color);
            }

            &-danger > .#{$C_PREFIX}-ele {
                @include btn-button($danger-color);
            }

            &-success > .#{$C_PREFIX}-ele {
                @include btn-button($success-color);
            }

            &-warning > .#{$C_PREFIX}-ele {
                @include btn-button($warning-color);
            }

            &-default > .#{$C_PREFIX}-ele {
                @include btn-button(#fff);

                color: $grey-dark;

                &:hover,
                &:active {
                    color: $grey-dark;
                }
            }

            &-grey > .#{$C_PREFIX}-ele {
                @include btn-button($grey-lightest);

                color: #fff;
            }

            &-gold > .#{$C_PREFIX}-ele {
                @include btn-button(#222535);

                color: $gold-color;
            }

            &-dark > .#{$C_PREFIX}-ele {
                @include btn-button(#232321);

                color: #fff;
            }
        }
    }

    &.#{$C_PREFIX}-type-float {
        & > .#{$C_PREFIX}-ele {
            border-radius: 100%;
            width: 40px;
            height: 40px;
            box-sizing: border-box;
            padding: 0;
            min-width: auto;

            &::after {
                content: " ";
                display: inline-block;
                vertical-align: middle;
                height: 100%;
                width: 0;
            }
        }
    }

    &.#{$C_PREFIX}-type-flat {
        & > .#{$C_PREFIX}-ele {
            background-color: #fff;
        }

        &.#{$C_PREFIX}-kind-primary > .#{$C_PREFIX}-ele {
            @include btn-flat($primary-color, $primary-lighter-color);
        }

        &.#{$C_PREFIX}-kind-danger > .#{$C_PREFIX}-ele {
            @include btn-flat($danger-color, $danger-lighter-color);
        }

        &.#{$C_PREFIX}-kind-success > .#{$C_PREFIX}-ele {
            @include btn-flat($success-color, $success-lighter-color);
        }

        &.#{$C_PREFIX}-kind-warning > .#{$C_PREFIX}-ele {
            @include btn-flat($warning-color, $warning-lighter-color);
        }

        &.#{$C_PREFIX}-kind-default > .#{$C_PREFIX}-ele {
            @include btn-flat($grey-light, $warning-lighter-color);
        }

        &.#{$C_PREFIX}-kind-gold > .#{$C_PREFIX}-ele {
            @include btn-flat($gold-color, $warning-lighter-color);
        }

        &.#{$C_PREFIX}-kind-dark > .#{$C_PREFIX}-ele {
            @include btn-flat(#232321, #fff);
        }
    }

    &.#{$C_PREFIX}-type-outline {
        & > .#{$C_PREFIX}-ele {
            background-color: rgba(#fff, 0);
        }

        &.#{$C_PREFIX}-kind-primary > .#{$C_PREFIX}-ele > .#{$C_PREFIX}-ele-border {
            @include btn-outline($primary-color, $primary-color);
        }

        &.#{$C_PREFIX}-kind-danger > .#{$C_PREFIX}-ele > .#{$C_PREFIX}-ele-border {
            @include btn-outline($danger-color, $danger-color);
        }

        &.#{$C_PREFIX}-kind-success > .#{$C_PREFIX}-ele > .#{$C_PREFIX}-ele-border {
            @include btn-outline($success-color, $success-color);
        }

        &.#{$C_PREFIX}-kind-warning > .#{$C_PREFIX}-ele > .#{$C_PREFIX}-ele-border {
            @include btn-outline($warning-color, $warning-color);
        }

        &.#{$C_PREFIX}-kind-default > .#{$C_PREFIX}-ele > .#{$C_PREFIX}-ele-border {
            @include btn-outline($grey-light, $grey-light);
        }

        &.#{$C_PREFIX}-kind-gold > .#{$C_PREFIX}-ele > .#{$C_PREFIX}-ele-border {
            @include btn-outline($gold-color, $gold-color);
        }

        &.#{$C_PREFIX}-kind-white > .#{$C_PREFIX}-ele > .#{$C_PREFIX}-ele-border {
            @include btn-outline(#fff, #fff);
        }

        &.#{$C_PREFIX}-kind-dark > .#{$C_PREFIX}-ele > .#{$C_PREFIX}-ele-border {
            @include btn-outline(#232321, #232321);
        }
    }

    &-disabled {

        &.#{$C_PREFIX}-type-button,
        &.#{$C_PREFIX}-type-float {
            &.#{$C_PREFIX}-kind {
                &-gold > .#{$C_PREFIX}-ele {
                    color: #fff;
                }
            }
        }
    }
}
